        /* Основные стили */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: "Lucida Grande", Arial, sans-serif;
            font-size: 13px;
            line-height: 20px;
            color: #333;
            background-color: #EEE;
            margin: 0;
            padding: 0;
        }
        
        a {
            color: #27b;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        
        /* Шапка */
        #header {
            background: #246;
        }
        
        .background {
            background: #59b url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==') no-repeat 50% 0;
            padding: 15px 0;
        }
        
        .inner {
            width: 960px;
            margin: 0 auto;
            position: relative;
        }
        
        #logo-search {
            padding-bottom: 25px;
        }
        
        #logo {
            position: absolute;
            top: 40px;
            left: 9px;
            width: 224px;
            height: 55px;
            background: #59b;
            color: white;
            font-weight: bold;
            text-align: center;
            line-height: 55px;
            font-size: 24px;
        }
        
        #tag {
            clear: left;
            margin: 0;
            padding: 10px 0 0 10px;
            font: bold 18px Arial, sans-serif;
            line-height: 24px;
            color: #def;
        }
        
        #home_search {
            margin: 0 0 0 250px;
            padding-top: 36px;
        }
        
        #home_search p {
            float: left;
            margin: 0 0 10px;
        }
        
        #searchform_q {
            background: #fff;
            margin: 0;
            width: 226px;
            padding: 6px 6px;
            border: 1px solid #eee;
            border-right-width: 0;
            border-radius: 5px 0 0 5px;
            font: 13px "Lucida Grande", Arial, sans-serif;
        }
        
        #searchform_submit {
            background: #bbb;
            margin: 0;
            padding: 6px 12px;
            border: 1px solid #eee;
            outline-width: 0;
            border-radius: 0 5px 5px 0;
            font: 13px "Lucida Grande", Arial, sans-serif;
            color: #333;
        }
        
        /* Навигация */
        #topnav {
            position: absolute;
            width: 380px;
            top: 15px;
            right: 10px;
            z-index: 40;
            padding: 0;
            font-size: 11px;
            line-height: 22px;
            text-align: right;
            color: #def;
        }
        
        #have_an_account {
            color: #def;
        }
        
        a.signin {
            background: #7fb3cc;
            margin-left: 4px;
            padding: 5px 6px 6px;
            text-decoration: none;
            font-weight: bold;
            color: #fff;
            border-radius: 4px;
        }
        
        /* Баннер новой версии Twitter */
        #newbar {
            position: relative;
            z-index: 100;
            background: #111;
            color: #ccc;
            box-shadow: 0 1px 2px rgba(0,0,0,0.5);
            min-height: 40px;
        }
        
        #newbar2 {
            width: 936px;
            margin: 0 auto;
            padding: 10px 0;
            font: bold 13px/19px "Helvetica Neue", Arial, sans-serif;
            text-align: left;
        }
        
        #newbar strong {
            color: #fff;
        }
        
        #newbar a {
            color: #7df;
        }
        
        /* Тренды */
        #trends {
            position: relative;
            background: #246;
        }
        
        #trends .inner {
            width: 720px;
            overflow: hidden;
            position: relative;
        }
        
        #trends ul {
            margin: 0;
            padding: 0;
            list-style: none;
            white-space: nowrap;
        }
        
        #trends li {
            margin: 0;
            padding: 0;
            display: inline;
        }
        
        #trends a, #trends li.trend-label {
            padding: 8px 4px;
            display: inline-block;
        }
        
        #trends li.trend-label {
            font-size: 9px;
            color: #def;
            text-transform: uppercase;
            letter-spacing: .2em;
        }
        
        #trends a {
            color: #6ac;
        }
        
        #trends a:hover {
            color: #def;
            text-decoration: none;
        }
        
        /* Основной контент */
        .content-wrapper {
            background-color: #FFF;
        }
        
        #content {
            background: #fff;
            width: 940px;
            padding: 20px 0 30px;
            margin: 0 auto;
        }
        
        .section {
            width: 700px;
        }
        
        .aside {
            float: left;
            width: 220px;
        }
        
        .article {
            float: right;
            width: 460px;
        }
        
        #content h2 {
            margin: 0;
            font: bold 15px/20px "Helvetica Neue", Arial, sans-serif;
            color: #666;
            padding: 0 0 8px;
            border-bottom: 1px solid #eee;
        }
        
        /* Источники */
        #sources {
            background: #eee;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        
        #sources .inside {
            padding: 10px 14px 15px;
        }
        
        #sources h2 {
            border-bottom-color: #ddd;
        }
        
        #sources ul {
            margin: 10px -10px 10px 0;
            padding: 0;
            list-style: none;
        }
        
        #sources li {
            position: relative;
            display: inline;
            float: left;
            width: 32px;
            height: 32px;
            margin: 0 8px 8px 0;
            padding: 0;
            background: #ddd;
            border-radius: 4px;
        }
        
        .explained {
            padding-top: 7px;
            font-size: 12px;
            line-height: 18px;
        }
        
        /* Виджет твитов */
        #tweets {
            margin-top: 7px;
        }
        
        #tweets h2 {
            font: bold 20px/24px "Helvetica Neue", Arial, sans-serif;
            color: #333;
        }
        
        #tweets h2 a {
            background: none;
            margin-left: 2px;
            padding: 3px 5px;
            border-radius: 3px;
            font: 11px "Lucida Grande", Arial, sans-serif;
        }
        
        #tweets h2 a:hover {
            background: #27b;
            color: #fff;
            text-decoration: none;
        }
        
        .tweet-widget {
            background: #eee;
            width: 460px;
            margin: 0 0 20px;
            padding: 10px;
            border-radius: 5px;
        }
        
        .tweet {
            padding: 8px 0;
            border-bottom: 1px solid #ddd;
        }
        
        .tweet:last-child {
            border-bottom: none;
        }
        
        .tweet-avatar {
            float: left;
            width: 48px;
            height: 48px;
            margin-right: 10px;
            background: #ccc;
            border-radius: 5px;
        }
        
        .tweet-content {
            margin-left: 58px;
        }
        
        .tweet-user {
            font-weight: bold;
        }
        
        .tweet-text {
            margin: 5px 0;
        }
        
        .tweet-meta {
            font-size: 11px;
            color: #999;
        }
        
        /* Футер */
        .footer-wrapper {
            clear: both;
            background: #eee;
            width: 100%;
        }
        
        #footer {
            text-align: center;
            padding: 8px 0;
            margin-top: .7em;
            line-height: 1;
            background: #fff;
            white-space: nowrap;
            width: 940px;
            margin: 0 auto;
        }
        
        #footer ul {
            margin: 0;
            padding: 10px 0;
            overflow: hidden;
            color: #666;
            font-size: 11px;
        }
        
        #footer li {
            display: inline;
            padding: 0 4px;
        }
        
        #footer li.first {
            margin-right: 130px;
            float: left;
        }
        
        .language-select {
            text-align: right;
            width: 200px;
            float: right;
        }
        
        /* Форма входа */
        .overlay {
            position: absolute;
            z-index: 20;
            right: 0;
            top: 53px;
            width: 220px;
            background: #fff;
            padding: 10px;
            border-radius: 12px;
        }
        
        .newuser {
            background: #ddeef6;
            padding: 0 10px 5px;
            border-radius: 5px;
            color: #456;
        }
        
        .newuser h2 {
            margin: 0;
            padding: 12px 0 10px;
            font: bold 18px "Helvetica Neue", Arial, sans-serif;
            color: #333;
        }
        
        .newuser p {
            margin: 0 0 8px;
        }
        
        #signup-btn {
            margin: 15px 0;
            padding: 0;
        }
        
        #signup-btn a {
            background: #fa2;
            display: block;
            padding: 8px 10px;
            border: 1px solid #fa2;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            color: #333;
            font: bold 18px Arial, sans-serif;
        }
        
        /* Адаптивность */
        @media (max-width: 980px) {
            .inner, #content, #footer, #newbar2 {
                width: 95%;
            }
            
            .section {
                width: 100%;
            }
            
            .aside, .article {
                float: none;
                width: 100%;
            }
            
            #logo-search {
                text-align: center;
            }
            
            #logo {
                position: static;
                margin: 0 auto 10px;
            }
            
            #home_search {
                margin: 0;
                text-align: center;
            }
            
            #topnav {
                position: static;
                text-align: center;
                width: 100%;
                margin-top: 10px;
            }
        }